@font-face {
  font-family: 'intro_rust_gbase_2_line';
  src: url('./introrustg-base2line-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'source_sans_proextralight';
  src: url('./sourcesanspro-extralight-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "intro_rust_gbase_2_line", sans-serif;
  background-color: #4b5563;
  color: white;
}

img {
  object-fit: contain;
  display: block;
  width: 30px;
  height: 30px;
}

a {
  font-family: "source_sans_proextralight", sans-serif;
  font-weight: 900;
  display: flex;
  gap: 5px;
  text-decoration: none;
  color: white;
  align-items: center;
}

main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

section.forms {
  background-color: #374151;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
}



label {
  display: inline-block;
  max-width: 60px;
}

.generaldiv dialog {
  max-width: 100%;
  
}

input {
  display: inline-block;
  max-width: 100%;
}

section.cv {
  padding: 10px;
}

h2 {
  color: white;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

@media (max-width: 500px) {
  header {
    flex-direction: column;
  }
  
}

