@font-face {
  font-family: 'intro_rust_gbase_2_line';
  src: url('./introrustg-base2line-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'source_sans_proextralight';
  src: url('./sourcesanspro-extralight-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "intro_rust_gbase_2_line", sans-serif;
  background-color: #4b5563;
  color: white;
}

img {
  object-fit: contain;
  display: block;
  width: 30px;
  height: 30px;
}

a {
  font-family: "source_sans_proextralight", sans-serif;
  font-weight: 900;
  display: flex;
  gap: 5px;
  text-decoration: none;
  color: white;
  align-items: center;
}

main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

section.forms {
  background-color: #374151;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  row-gap: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

div.dialog {
  display: none;
  transition: opacity 0.5s, display 0.5s;
  transition-timing-function: ease-in;
}


@starting-style {
  opacity: 0;
}

div.dialog.open {
  opacity: 1;
  display: block;
}

div.dialog.closed {
  opacity: 0;
  display: none;
}


label {
  display: inline-block;
  width: 100%;
  color: #fcd34d;
  font-family: "source_sans_proextralight", sans-serif;
  font-weight: 900;
}



input {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 0 10px;
  border-radius: 10px;
  min-height: 30px;
}

section.cv {
  padding: 10px;
}

h2 {
  font-family: "intro_rust_gbase_2_line", sans-serif;
  color: white;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

@media (max-width: 500px) {
  header {
    flex-direction: column;
  }

  h2 {
    font-size: 1rem;
    flex-direction: column;
    align-items: center;
  }
  
}

